@{
    ViewBag.Title = "Approve Requests";
}

<script type="text/javascript" src="../Scripts/jquery-1.10.2.js"></script>
<br>
<div class="jumbotron">
    <center><h1>@ViewBag.Title</h1> </center>
    <hr />
    <center> <p class="lead">You are using Restaurant Unlimited's OMCF system which allows you to request menu changes, look up previous requests, et al. Below are descriptions for each respective page on OMCF.</p></center>

    <script type="text/javascript">
        function getProducts() {
            $.getJSON("api/Requests",
                function (data) {
                    //$('#ContentPlaceHolder1_GridViewApproveRequests').empty(); // Clear the table body.

                    // Loop through the list of products.
                    $.each(data, function (key, val) {
                        // Add a table row for the product.
                        var goLiveDate = val.GoLiveDate.substr(0, 10);

                        var subDate = val.RequestSubmittedDate.substr(0, 10);
                        //var displayGoLiveDate = $.datepicker.formatDate("mm/dd/yyyy", val.GoLiveDate)
                        var row =
                            '<td>' + val.RequestID + '</td>' +
                            '<td>' + val.RequestorID + '</td>' +
                            '<td>' + val.RestaurantID + '</td>' +
                            '<td>' + val.RequestSubmittedDate + '</td>' +
                            '<td>' + val.GoLiveDate + '</td>' +
                            '<td>' + val.CreateUser + '</td>' +
                            '<td>' + 0 + '</td>' +  //need add
                            '<td>' + 0 + '</td>' + // need change
                            '<td>' + 0 + '</td>' +  //need remove
                            '<td>' + val.UpdateUser + '</td>' +
                            '<td>' + val["Progress_Status"]["Progress_Status_NM"] + '</td>' +
                            '<td>' + val["Request_Class"]["Request_Class_NM"] + '</td>'
                        ;
                        $('<tr/>', { html: row })  // Append the name.
                            .appendTo($('#ContentPlaceHolder1_GridViewApproveRequests'));
                    });
                });
        }

        $(document).ready(getProducts).ready(addRowHandlers);

        function addRowHandlers() {
            var rows = document.getElementById("ContentPlaceHolder1_GridViewApproveRequests").rows;
            for (i = 0; i < rows.length; i++) {
                rows[i].onclick = function () {
                    return function () {
                        var id = this.cells[0].innerHTML;
                        alert("id:" + id);
                    };
                }(rows[i]);
            }
        }
    </script>

</div>
<hr />