@{
    ViewBag.Title = "FAQ";
}
<br />

<div class="jumbotron">
    <h1>OMCF: @ViewBag.Message</h1> <hr />

    <div class="row">
        <div class="col-md-4">
            <h3>Why was my request denied?</h3>
            <p>
                The Home Office Administrator will always leave a comment with the request when an item is denied.  The comments appear in the automatic email that is sent to the requestor.
            </p>

        </div>
        <div class="col-md-4">
            <h3>Manage Codes</h3>
            <p>This section allows you to pull of various POS and restaurant components such as printers, as well as Restaurant data et al. </p>

        </div>
        <div class="col-md-4">
            <h3>Statistics</h3>
            <p>You can generate reports for different restaurants and brands here with information specifying data et al.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Create Request</h3>
            <p>
                In this section, you're able to actually make the request for changes to your POS and/or manu items.
            </p>

        </div>
        <div class="col-md-4">
            <h3>Instructions</h3>
            <p>This will take you to a PDF that documents that various instructions for initiating requests in OMCF amongst other tasks. </p>

        </div>
        <div class="col-md-4">
            <h3>Frequently Asked Questions</h3>
            <p>Here is where common questions are answered that pertain to this OMCF system.</p>
        </div>
    </div>
</div>
<hr />
