@{
    ViewBag.Title = "Statistics";
}

<br>
<div class="jumbotron">
    <center><h1>@ViewBag.Title</h1> </center>
    <hr />
    <center> <p class="lead">You are using Restaurant Unlimited's OMCF system which allows you to request menu changes, look up previous requests, et al. Below are descriptions for each respective page on OMCF.</p></center>


</div>
<hr />